*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles */

nav {
    background: black;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    flex: 1 0 0;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background: gray;
}


/* flex styles */
